# Compiled Object files
*.slo
*.lo
*.o
*~

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.exe

nbproject
/nbproject
/Makefile
/cmake_install.cmake
/build/

/*
!LICENSE
!CmakeLists.txt
!README.md
!include
!examples
!unit_tests
