# Compiled Object files
*.slo
*.lo
*.o
*~

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.exe

.ycm_extra_conf.py
nbproject
/nbproject
/Makefile
/cmake_install.cmake
examples/CMakeFiles/
examples/CTestTestfile.cmake
examples/Makefile
examples/cmake_install.cmake
include/workarounds/
unit_tests/CMakeFiles/
unit_tests/CTestTestfile.cmake
unit_tests/Makefile
unit_tests/cmake_install.cmake
/build/

/*
!LICENSE
!test_compilation.sh
!CmakeLists.txt
!README.md
!include
!examples
!experimental
!tools
!unit_tests
!.gitmodules
!python
!src
!docs
!mainpage.dox
!Vagrant_bootstrap.sh
!Vagrantfile
