# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.exe

CMakeFiles
CMakeCache.txt

nbproject
/nbproject
/Makefile
/cmake_install.cmake
/build/
