name: Python Package Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-wheel:
    runs-on: ubuntu-latest
    container: ghcr.io/gridtools/gridtools-base:${{ matrix.compiler }}
    strategy:
        matrix:
            python-version: ["3.10"]
            compiler: [gcc-10]
            build_type: [release]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: install nox
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install nox
    - name: run tests
      working-directory: ./.python_package
      run: nox -s test_src_dist
    - name: build and test wheel
      working-directory: ./.python_package
      run: nox -s build_wheel test_wheel_with_python-${{ matrix.python-version }}
    - name: archive wheel
      uses: actions/upload-artifact@v3
      with:
        name: gridtools-cpp-wheel
        path: .nox/.cache/dist/gridtools_cpp-*.whl

  test-wheel:
    needs: build-wheel
    runs-on: ubuntu-latest
    container: ghcr.io/gridtools/gridtools-base:${{ matrix.compiler }}
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.11"]
        compiler: [gcc-10]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: install nox
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install nox
    - name: download wheel
      uses: actions/download-artifact@v3
      with:
        name: gridtools-cpp-wheel
    - name: test wheel
      working-directory: ./.python_package
      run: nox -s test_wheel_with_python-${{ matrix.python-version }}
